# Server Configuration
NODE_ENV=development
PORT=5092

# PostgreSQL Database (Prisma)
DATABASE_URL="postgresql://admin:MonsurAliSecPass2026!@localhost:5432/monsur_ali_travels?schema=public"

# Authentication & Security
JWT_SECRET=monsuralitravels_super_secret_access_token_jwt_2026
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_SECRET=monsuralitravels_super_secret_refresh_token_jwt_2026
REFRESH_TOKEN_EXPIRES_IN=30d

# File Storage
UPLOAD_PATH=./uploads
DOCUMENT_PATH=./documents
MAX_FILE_SIZE_MB=25

# CORS Allowed Origins (Comma separated)
CORS_ORIGIN="http://localhost:5173,http://localhost:8005,http://localhost:8006,https://dashboard.monsuralitravelsbd.com,https://monsuralitravelsbd.com"
